 

#new1{
   background-image: url(him.jpg);
     background-color: pink;
     position: absolute;
     background-size: cover;
     height: 750px;
     width: 609px;
}
#text{
    position: absolute;
    top: 60px;
    left: 25px;
}
h1{
    color: white;
    font-size: 40px;
    
}
p{
    margin-left: 70px;
    font-size: bold;
}
#new2{
     background-image: url(2cats.jpg);
    background-size: cover;
    position: absolute;
    height: 385px;
    width: 903px;
   left:610px ;
top: 367px;
}
#new3{
     background-image: url(birds.jpg);
    background-size: cover;
    position: absolute;
    height: 360px;
    width: 455px;
   right:450px ;
bottom: 365px;

}
#new4{
background-image: url(bluebird.jpg);
    background-size: cover;
    position: absolute;
    height: 360px;
    width: 452px;
   left:450px ;

}